:root {
        --ic-brand-primary-darkened-5: #265936;
--ic-brand-primary-darkened-10: #245433;
--ic-brand-primary-darkened-15: #225030;
--ic-brand-primary-lightened-5: #316541;
--ic-brand-primary-lightened-10: #3C6D4B;
--ic-brand-primary-lightened-15: #477555;
--ic-brand-button--primary-bgd-darkened-5: #265936;
--ic-brand-button--primary-bgd-darkened-15: #225030;
--ic-brand-button--secondary-bgd-darkened-5: #000000;
--ic-brand-button--secondary-bgd-darkened-15: #000000;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #3D6C9A;
--ic-link-color-lightened-10: #5584B3;
--ic-brand-primary: #275d38;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #4377ab;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #000000;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #275d38;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #823b34;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #e1523d;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #275d38;
--ic-brand-header-image: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000016/attachments/67641187/Nav%20Logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1924878923&Signature=EHocXlPnEKwtccjBKGY3kEMjNDA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-2.s3.amazonaws.com/account_10120000000000016/attachments/105120445/uvuLogoPrimaryHorizontalGreen%25402x.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000016/attachments/73209808/uvuLogoForCanvasMobile.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1945108542&Signature=glgha92XcQUtjosCUz%2Bvx6bm%2B5s%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000016/attachments/67768896/Tile%20Square.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1925830049&Signature=q6cm8ne2KgC7OsJkBozY9VzahDw%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000016/attachments/67768898/Tile%20Wide.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1925830049&Signature=Mw3%2BF2oMq6KXxd3%2F8Lyfaca39Qg%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #275d38;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000016/attachments/73723887/uvuLoginLogo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1945966618&Signature=3u9FiVLuHJQaHgWu9zHzzH5Ab8E%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #d0d0ce;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #fffffe;
--ic-brand-Login-instructure-logo: #ffffff;
      }